{% extends 'base.html.twig' %}

{% block title %}{{ 'Register' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Register' | trans }}</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nameFamily) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-primary">{{ 'Register' | trans }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
